@import 'sass/variables/variables';

.typography {
  margin: 0;
  color: inherit;

  @each $key, $size in $font-sizes {
    &--#{$key} {
      font-size: $size;
    }
  }

  @each $key, $weight in $font-weights {
    &--#{$key} {
      font-weight: $weight;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
